.challengeRoom(
  ng-controller="ChallengeRoomController"
)

  md-card(
    md-theme="dark-grey"
    ng-if="contentMap[roomPointer].data.type == 'Multiple Choice'"
  )
    md-card-title
      md-card-title-text
        span.md-headline
          | Challenge ({{contentMap[roomPointer].data.type}})

    md-card-content

      section(
        layout="row" 
        layout-align="space-between center"
        ng-repeat="exercise in contentMap[roomPointer].data.exercises"
        ng-class="{true:'correct', false:'wrong'}[exercise.correct]"
      )  

        .question {{exercise.statement}}

        md-input-container

          md-select(
            ng-model="exercise.selectedAnswer"
            placeholder="Please select"
          )
            md-option(
              ng-repeat="option in exercise.options"
              ng-value="option" 
            ) {{option}}

      md-button.md-raised.md-warn(
        ng-click="multipleChoiceValidate(contentMap)" 
      ) Submit


  md-card(
    md-theme="dark-grey"
    ng-if="contentMap[roomPointer].data.type == 'Find the Word'"
  )
    md-card-title
      md-card-title-text
        span.md-headline
          | Challenge ({{contentMap[roomPointer].data.type}})

    md-card-content

      section(
        layout="row" 
        layout-align="space-between center"
        ng-repeat="exercise in contentMap[roomPointer].data.exercises"
        ng-class="{true:'correct', false:'wrong'}[exercise.correct]"
      )  

        .question(flex="grow")
          p {{exercise.statement}}
          p.help(ng-if="exercise.helpUsed")
            i.material-icons help
            | {{exercise.helper}}

        md-input-container
          input(
            type="text"
            ng-model="exercise.selectedAnswer"
            placeholder="Write a word"
          )

        md-button.md-raised.md-warn(
        ng-click="exercise.helpUsed = true" 
        ) Help

      md-button.md-raised.md-warn(
        ng-click="findTheWordValidate(contentMap)" 
      ) Submit


  md-card(
    md-theme="dark-grey"
    ng-if="contentMap[roomPointer].data.type == 'Select the Keywords'"
  )
    md-card-title
      md-card-title-text
        span.md-headline
          | Challenge ({{contentMap[roomPointer].data.type}})

    md-card-content

      section(        
        ng-repeat="exercise in contentMap[roomPointer].data.exercises"
      )  

        .question(
          ng-init="prepareKeywordChallenge(exercise)"
        ) 
          | {{exercise.statement}} 
          b {{exercise.topics[currentTopic].label}}

        section.keywordMatrix(layout="row" layout-wrap)
          .keyword(
            flex="33"
            ng-repeat="keyword in options"
            ng-class="{true:'correct', false:'wrong'}[keyword.correct]"
          )
            .contents
              md-checkbox(ng-model="keyword.selected")
              | {{keyword.concept}}

        md-button.md-raised.md-warn(
          ng-click="selectTheKeywordsValidate(exercise)" 
        ) Submit



