include /includes/mixins

doctype html

html(ng-app="app")

  head
    include /includes/styles
    title iLearnTest

  body

    div(ng-cloak)
      md-content
        md-tabs(md-dynamic-height md-border-bottom)
          md-tab(label="iLearnTest")
            md-content

              .app(ng-cloak ng-controller="RootController")
                md-button.md-raised.md-warn(ng-click="createGameTree($root.game)" ng-if="$root.at.root!=undefined") Create Game

                md-sidenav(
                  class="md-sidenav-left" 
                  md-component-id="left"
                  md-whiteframe="4"
                )

                  h4 Table of contents
                  .map-section
                    p(ng-click="$root.at=rootRoom")
                      b Home

                  .map-section(ng-repeat="room in roomMap[roomMap[$root.at.parent].parent].linkedRooms")
                    p(ng-click="$root.at=room") 
                      b {{room.key}}
                      | {{room.name}}
                    game-tree(ng-if="room.linkedRooms.length")

                .wrapper        
                  span.top-level 
                    | {{$root.at.key}}. {{$root.at.name}}

                  span.user-status(
                    ng-if="$root.at.root==undefined"
                  )  
                    | User status {{ user.calcScore() }} points

                  span.user-status(
                    ng-if="$root.at.root==true"
                  )  
                    md-button(
                      ng-click="toggleLeft()" 
                      class="md-raised"
                    )
                      | Show mini-map 

                .wrapper(
                  ng-if="$root.at.root==undefined"
                )  
                  .wrapper(layout="row" layout-align="space-between center" flex="grow")
                    span.room-status(ng-if="calcPotentialRoomTreePoints($root.at.key) !=0")
                      | Room points {{ calcUserRoomTreePoints($root.at.key) }} / {{ calcPotentialRoomTreePoints($root.at.key) }} points

                    md-button(
                      ng-click="toggleLeft()" 
                      class="md-raised"
                    )
                      | Show mini-map  
                

                include /includes/learningRoom
                .challengeRoom(
                  ng-if="$root.at.type == 'challengeRoom'"
                )
                  include /includes/challengeRoom
                include /includes/lobbyRoom   

                section.bottom-nav(ng-if="$root.at.root==undefined" layout="row" layout-align="space-between center")

                  md-button.md-accent.md-raised(
                    ng-if="$root.at.parent != undefined" ng-click="go($root.at.parent)"
                  )
                    | Return to {{$root.at.parent}}
                  
                  md-button.md-accent.md-raised(
                    ng-if="$root.at.previous != undefined" ng-click="go($root.at.previous)"
                  )
                    | Go to {{$root.at.previous}}

                  md-button.md-accent.md-raised(
                    ng-if="$root.at.next != undefined" ng-click="go($root.at.next)"
                  )
                    | Go to {{$root.at.next}}


          md-tab(label="Json Editor (Tree)")
            md-content(class="md-padding")
              div(
                ng-jsoneditor 
                ng-model="$root.game" 
                options="{mode: 'tree'}"
              )

          md-tab(label="Json Editor (Code)")
            md-content(class="md-padding")
              div(
                ng-jsoneditor 
                ng-model="$root.game" 
                options="{mode: 'code'}"
                style="height:500px"
              )
              

    include /includes/scripts
