include /includes/mixins

doctype html

html(ng-app="app")

  head
    include /includes/styles
    title iLearnTest

  body
    .app(ng-cloak ng-controller="RootController")

      .wrapper        
        span.top-level 
          | {{at.key}}. {{at.name}}
        
        span.user-status(
          ng-if="at.root==undefined"
        )  
          | User status {{ user.calcScore() }} points
        
      .wrapper(
        ng-if="at.root==undefined"
      )  
        .wrapper
          span.room-status
            | Room points {{ calcUserRoomTreePoints(at.key) }} / {{ calcPotentialRoomTreePoints(at.key) }} points
      

      include /includes/learningRoom
      include /includes/challengeRoom
      section.mid-nav(
        layout="row" 
        layout-align="space-between center"         
      )
        md-button(
          ng-repeat="roomKey in at.links" 
          ng-click="go(roomKey)"
          color-this="background-color"
          data-color="roomKey"
        )
          p &nbsp;
          p.title {{roomKey}}
          p {{ calcUserRoomTreePoints(roomKey) }} / {{ calcPotentialRoomTreePoints(roomKey) }}
          md-tooltip
            | {{getRoom(roomKey).key}}. {{getRoom(roomKey).name}} 

      section.bottom-nav(layout="row" layout-align="space-between center")
        
        md-button.md-accent.md-raised(
          ng-if="at.previous != undefined" ng-click="go(at.previous)"
        )
          | Go to {{at.previous}}

        md-button.md-accent.md-raised(
          ng-if="at.parent != undefined" ng-click="go(at.parent)"
        )
          | Return to {{at.parent}}

        md-button.md-accent.md-raised(
          ng-if="at.next != undefined" ng-click="go(at.next)"
        )
          | Go to {{at.next}}

    include /includes/scripts
